<!-- <div class="mt contenedor">
  <div class="contenedor">
    <div class="text-center" id="opciones">
      <button routerLink="countries/by-capital"
          routerLinkActive="active"
          class="btn btn-outline-light mx-2 ">
          Por capital
      </button>

      <button routerLink="countries/by-country"
          routerLinkActive="active"
          class="btn btn-outline-light mx-2 ">
          Por país
      </button>

      <button routerLink="countries/by-region"
          routerLinkActive="active"
          class="btn btn-outline-light mx-2 ">
          Por región
      </button>
    </div>
  </div>
</div> -->


<div class="contenedor">
  <div id="opciones">
    <button routerLink="countries/by-capital"
      routerLinkActive="active"
      class="btn btn-outline-light mx-2 ">
      Por capital
    </button>

    <button routerLink="countries/by-country"
        routerLinkActive="active"
        class="btn btn-outline-light mx-2 ">
        Por país
    </button>

    <button routerLink="countries/by-region"
        routerLinkActive="active"
        class="btn btn-outline-light mx-2 ">
        Por región
    </button>
  </div>
</div>
