
<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  No hay países para mostrar
</div>

<ng-template #table>

    <table class="table table-dark table-striped table-bordered ">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Icon</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Población</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ country.flag }}
          </td>
          <td>
            <img [src]="country.flags.svg" [alt]="country.name.common">
          </td>
          <td>
            {{ country.translations['spa'].common }}
          </td>
          <td>
            {{ country.capital }}
          </td>
          <td>
            {{ country.population | number }}
          </td>
          <td>
            <a [routerLink]="['/countries/by', country.cca3]">Info</a>
          </td>
        </tr>
      </tbody>
    </table>
</ng-template>
