p{
  margin: 0;
}

body {
  background: linear-gradient(90deg, #e9811f77, #000000c9,#000000c9), url('/galaxy.png');
  background-size: 100%, 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
